[Unit]
Description=Set up NAT rules
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iptables -t nat -A POSTROUTING -s '${ip_range}' -o enp1s0 -j MASQUERADE

[Install]
WantedBy=multi-user.target
